* {
  border: none;
  min-height: 0;
  box-shadow: none;
  font-family: Iosevka;
  text-shadow: none;
  font-size: 13px;
}

#waybar {
  background: rgba(0,0,0,0.5);
}

#custom-arch {
  margin: 7px 20px 8px 20px;
}

#disk
{
  color: #f9e2af;

}

#temperature
{
  border-radius: 16px 0 0 16px;
  margin-left: 10px;
  color: #a6e3a1;
}

#temperature,
#cpu,
#memory
{
  margin: 7px 0px 7px 0px;
  padding: 4px 10px 4px 10px;
  background: #11111b;
}

#cpu{
  color: #89dceb;
}

#memory
{
  border-radius: 0 16px 16px 0;
  margin-right: 16px;
  color: #f9e2af;
}

#workspaces {
  margin: 7px 15px 7px 10px;
  padding: 6px 3px;
  border-radius: 16px;
  background: #000000;
}

#workspaces button {
  padding: 0px 0.5px;
  margin: 0px 3px;
  border-radius: 16px;
  background: #404040;
  color: #404040;
}

#workspaces button.active {
  background: #6791c9;
  color: #6791c9;
  border-radius: 16px;
}

#workspaces button:hover {
  background: #a6e3a1;
  color: #a6e3a1;
  border-radius: 16px;
}

#pulseaudio
{
  color: #89dceb;
  border-radius: 16px 0 0 16px;
}

#backlight
{
  color: #f9e2af;
}

#battery
{
  color: #a6e3a1;
}

#pulseaudio,
#backlight,
#battery
{
  margin: 7px 0px 7px 0px;
  padding: 4px 10px 4px 10px;
  background: #11111b;
}

#battery
{
  border-radius: 0 16px 16px 0;
  margin-right: 15px;
}

#tray
{
  margin: 7px 4px 6px 7px;
  border-radius: 15;
  padding: 4px 10px 4px 10px;
  background: #11111b;
}

#network
{
  color: #cba6fa;
  border-radius: 16px 0 0 16px;
}

#clock,
#network
{
  margin: 7px 0px 7px 0px;
  padding: 4px 10px 4px 10px;
  background: #11111b;
}

#clock
{
  color: #89dceb;
  border-radius: 0 16px 16px 0;
  margin-right: 15px;
}
