/* @define-color baset @transparent; */
@define-color base00 #1e1e2e;
@define-color base01 #181825;
@define-color base02 #313244;
@define-color base03 #45475a;
@define-color base04 #585b70;
@define-color base05 #cdd6f4;
@define-color base06 #f5e0dc;
@define-color base07 #b4befe;
@define-color base08 #f38ba8;
@define-color base09 #fab387;
@define-color base0A #f9e2af;
@define-color base0B #a6e3a1;
@define-color base0C #94e2d5;
@define-color base0D #89b4fa;
@define-color base0E #cba6f7;
@define-color base0F #f2cdcd;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1.2em;
  font-weight: 400;
  color: @base07;
  background: @base00;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @base05;
}

#workspaces button.visible {}

#workspaces button.active {
  border-radius: 4px;
  background-color: @base02;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base02;
}

#tray *:first-child {
  border-left: none;
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#clock,
#temperature,
#language {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @base02;
  border-radius: 4px;
  min-width: 20px;
}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: @base02;
}

#temperature.critical {
  color: @base0F;
}

#window {
  font-size: 0.9em;
  font-weight: 400;
  font-family: sans-serif;
}

#language {
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: -1px;
}
