configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  font: "Jetbrains Mono Nerd 09";
  show-icons: true;
}

@theme "themes/catppuccin-mocha.rasi"
