format = "$directory$all"

scan_timeout = 5
command_timeout = 500

[character]
error_symbol = "[󰘧](bold red)"
success_symbol = "[󰘧](bold green)"
vicmd_symbol = "[](bold yellow) "

[directory]
home_symbol = "~"
read_only = " "
style = "bright-blue"
truncate_to_repo = false

[git_branch]
disabled = false
symbol = " "
truncation_length = 18

[git_status]
disabled = false

[cpp]
disabled = false

[golang]
symbol = " "

[nodejs]
symbol = "◫ "

