@define-color waybar-bg rgba(30, 30, 46, 0.5);

@define-color workspaces-cl #cba6f7;
@define-color workspaces-btn rgba(17,17,27,1);

@define-color workspaces-active-cl #11111b;
@define-color workspaces-active-bg #89b4fa;

@define-color workspaces-hover-bg #f5f5f5;
@define-color workspaces-hover-cl #11111b;

@define-color bg #25253a;
@define-color cg #ffffff;
